<div class="uk-card uk-card-default uk-card-body">
  <h4 class="uk-heading-line uk-text-center"><span>Order subtotals</span></h4>
  <table class="uk-table uk-text-left uk-width-auto">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Sub Total</th>
        <th>Sales Tax</th>
        <th>Shipping Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>114-6370380-4581030</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
    </tbody>
  </table>
  <h4 class="uk-heading-line uk-text-center"><span>Authorizations</span></h4>
  <ul class="uk-list uk-list-bullet uk-text-left">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
  </ul>
  <h4 class="uk-heading-line uk-text-center"><span>Order Status</span></h4>
  <div class="uk-container">
    <div class="uk-grid-divider uk-text-bold uk-text-muted" uk-grid>
      <div class="uk-width-1-6@m uk-grid-margin">
        <div class="uk-panel {{if status 'uk-text-success'}}">결제 완료</div>
      </div>
      <div class="uk-width-1-6@m uk-grid-margin">
        <div class="uk-panel">로컬 배송</div>
      </div>
      <div class="uk-width-1-6@m uk-grid-margin">
        <div class="uk-panel">배대지 도착</div>
      </div>
      <div class="uk-width-1-6@m uk-grid-margin">
        <div class="uk-panel">바인딩</div>
      </div>
      <div class="uk-width-1-6@m uk-grid-margin">
        <div class="uk-panel">국제 배송</div>
      </div>
      <div class="uk-width-1-6@m uk-grid-margin">
        <div class="uk-panel">상품 수령</div>
      </div>
    </div>
  </div>
</div>