<div class="uk-container">
  {{menu-bar}}
  {{order-table model=model}}
  {{#if viewbibi}}
    <hr class="uk-divider-icon">
    {{order-detail viewSelect=true viewModify=viewModify}}
  {{/if}}
</div>
{{side-menu}}